.nav-spacer {
  flex: 1 1 auto;
}

#home-name{
  font-size:xx-large ;
}
mat-toolbar{
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* #home{
  height: 40px;
  width: 100px;
} */


/* .auth{
  background-color: teal;
  margin: 0;
  padding: 0;
} */