<div class="container">
  <div class="screen">
    <div class="screen__content">

      <form class="login" #f>
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" name="email" class="login__input" placeholder="Email" [(ngModel)]="email" required>
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="password" name="password" class="login__input" placeholder="Password" [(ngModel)]="password">
        </div>
        <button class="button login__submit" (click)="signingUp()">
          <span class=" button__text">Sign Up Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>

      <div class="social-login">
        <h3>log in via</h3>
        <div class="social-icons">
          <a class="social-login__icon fab fa-instagram"></a>
          <a class="social-login__icon fab fa-facebook"></a>
          <a class="social-login__icon fab fa-twitter"></a>
        </div>
      </div>

      <div class="signup create">
        <h5>Already have an account?</h5>
        <a routerLink="/login" class="create-acc">
          <h5>Log in here</h5>
        </a>
      </div>

    </div>

    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>